* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  list-style: none;
  display: flex;
}

header ul li {
  margin-left: 20px;
}

header ul li a {
  color: #fff;
  text-decoration: none;
}

.hero {
  background-color: #59b8d4;
  color: white;
  padding: 100px 0px;
  text-align: center;
}

.hero h2 {
  font-size: 36px;
}

.hero .cta-button {
  background-color: #fff;
  color: #4CAF50;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.hero .cta-button:hover {
  background-color: #45a049;
}

.about, .coding, .projects, .photos, .contact{
  padding: 50px 20px;
  text-align: center;
}

.about h2, .coding h2, .projects h2, .photos h2, .contact h2{
  font-size: 32px;
  margin-bottom: 20px;
}

.coding .coding-cards, .projects .project-cards , .photos .photos-cards{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
}

.card h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
}

.contact form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
  margin: 0 auto;
}

.contact input, .contact textarea {
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.contact button {
  padding: 12px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.contact button:hover {
  background-color: #45a049;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

