* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body {
  height: 100%;
}

body {
  background-color: #f4f4f4;
  color: #333;
  transition: background 0.3s ease, color 0.3s ease;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

header h1 a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

header h1 a:hover {
  opacity: 0.8;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  list-style: none;
  display: flex;
}

header ul li {
  margin-left: 20px;
}

header ul li a {
  color: #fff;
  text-decoration: none;
}

header ul li a:hover {
  opacity: 0.8;
}

.about, .coding, .projects, .photos, .contact{
  padding: 50px 20px;
  text-align: center;
}

.about h2, .coding h2, .projects h2, .photos h2, .contact h2{
  font-size: 32px;
  margin-bottom: 20px;
}

.coding .coding-cards, .projects .project-cards , .photos .photos-cards{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 500px;
}

.card h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: auto;
}

